.main-content {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.buttons {
   display: flex;
   flex-direction: column;
}

.req-list-block {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 43.5em;
    border: solid 1px #000;
    border-radius: 0.5em;
}

.req-list {
    padding: 1em;
    overflow: auto;
}

.search > form {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #000;
}

.search-input {
    height: 3em;
    width: 77%;
    margin: 1em;
    padding: 1em;
    font-size: 1em;
    background-color: #909090;
    color: #252525;
    border: solid 1px #000;
    border-radius: 0.5em;
}

.search-button {
    height: 3em;
    width: 20%;
    margin: 1em;
    margin-left: 0em;
    color: #bbb7b7;
    border: solid 1px #000;
    border-radius: 0.5em;
}

.button, .buttons > h2 {
    margin-bottom: 1em;
    width: 16em;
    height: 3em;
    padding-top: 1em;
    color: #bbb7b7;
    text-align: center;
    border: solid 1px #000;
    border-radius: 0.5em;
    background-color: #707070;
}

.buttons > h2 {
    font-weight: bold;
}

.button, .search-button {
    background-color: #252525;
}

.button:hover, .search-button:hover {
    background-color: #707070;
}

table {
    width: 100%;
}

.table-head {
    height: 2em;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #707070;
}