.tables {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 43.5em;
    margin: 1em auto;
}

.table {
    width: 49%;
    overflow: auto;
    border: solid 1px #000;
    border-radius: 0.5em;
}

.payments-table {
    width: 38%;
}

.requisites-table {
    width: 60%;
}

table {
    width: 100%;
}

.table-label {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 1px #000;
    background-color: #707070;
}

.table-head {
    height: 2em;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #707070;
}