{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/show_requisites.css' %}">
{% endblock %}

{% block content %}
<div class="correction" style="margin-top:4em;"></div>

<div class="main-content">
    <div class="buttons">
        <h2>SORTING</h2>
        <a href="?feature=payment_type" class="button">payment type</a>
        <a href="?feature=source_type" class="button">source type</a>
        <a href="?feature=full_name" class="button">full name</a>
        <a href="?feature=phone" class="button">phone</a>
        <a href="?feature=limit" class="button">limit</a>
    </div>

    <div class="req-list-block">
        <div class="search">
            <form method="get" action="">
                <input type="text" class="search-input" name="query">
                <button type="submit" class="search-button">search</button>
            </form>
        </div>

        <div class="req-list">

            <table>
                <tr class="table-head">
                    <th>Payment type</th>
                    <th>Source type</th>
                    <th>Full name</th>
                    <th>Phone</th>
                    <th>Limit</th>
                </tr>
                {% for requisite in requisites %}
                <tr>
                    <td>{{ requisite.payment_type }}</td>
                    <td>{{ requisite.source_type }}</td>
                    <td>{{ requisite.full_name }}</td>
                    <td>{{ requisite.phone }}</td>
                    <td>{{ requisite.limit }}</td>
                </tr>
                {% endfor %}
            </table>

        </div>
    </div>
</div>
{% endblock %}