{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/show_requisites.css' %}">
{% endblock %}

{% block content %}
<div class="correction" style="margin-top:4em;"></div>

<div class="main-content">
    <div class="buttons">
        <h2>SORTING</h2>
        <a href="?feature=payment_type" class="button sorting-link">payment type</a>
        <a href="?feature=source_type" class="button sorting-link">source type</a>
        <a href="?feature=full_name" class="button sorting-link">full name</a>
        <a href="?feature=phone" class="button sorting-link">phone</a>
        <a href="?feature=limit" class="button sorting-link">limit</a>
    </div>


    <div class="req-list-block">
        <div class="search">
            <form id="searchForm" method="get" action="">
                <input type="text" class="search-input" name="query">
                <button type="submit" class="search-button">search</button>
            </form>
        </div>


        <div class="req-list">

            <table>
                <tr class="table-head">
                    <th>Payment type</th>
                    <th>Source type</th>
                    <th>Full name</th>
                    <th>Phone</th>
                    <th>Limit</th>
                </tr>
                {% for requisite in requisites %}
                <tr>
                    <td>{{ requisite.payment_type }}</td>
                    <td>{{ requisite.source_type }}</td>
                    <td>{{ requisite.full_name }}</td>
                    <td>{{ requisite.phone }}</td>
                    <td>{{ requisite.limit }}</td>
                </tr>
                {% endfor %}
            </table>

        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#searchForm').submit(function(event) {
            event.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: 'GET',
                url: '{% url "payments:show_requisites" %}',
                data: formData,
                success: function(data) {
                    $('.req-list').html(data);
                }
            });
        });
    });
</script>

<script>
    $(document).ready(function() {
        $('.sorting-link').click(function(event) {
            event.preventDefault();
            var url = $(this).attr('href');
            $.ajax({
                type: 'GET',
                url: url,
                success: function(data) {
                    $('.req-list').html(data);
                }
            });
        });
    });
</script>

{% endblock %}