{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/start_page.css' %}">
{% endblock %}

{% block content %}
<div class="correction" style="margin:2em"></div>

<div class="tables">
    {% if user.is_admin %}
        <div class="payments-table table" id="payments-table">
            <p class="table-label">PAYMENTS</p>

            <table>
                <tr class="table-head">
                    <th>Amount</th>
                    <th>Requisites</th>
                    <th>Status</th>
                </tr>
                <tbody id="payments-tbody">
                    {% for payment in payments %}
                        <tr>
                            <td>{{ payment.amount }}</td>
                            <td>{{ payment.requisites.full_name }}</td>
                            <td>{{ payment.status }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pagination">
                <div class="step-links">
                    <div class="pages-buttons">
                        {% if payments.has_previous %}
                            <a href="?payments_page=1">first</a>
                            <a href="?payments_page={{ payments.previous_page_number }}">previous</a>
                        {% else %}
                            <div style="color:#606060">first</div>
                            <div style="color:#606060">previous</div>
                        {% endif %}
                    </div>

                    <div class="current">
                        Page {{ payments.number }} of {{ payments.paginator.num_pages }}.
                    </div>

                    <div class="pages-buttons">
                        {% if payments.has_next %}
                            <a href="?payments_page={{ payments.next_page_number }}" class="next-button">next</a>
                            <a href="?payments_page={{ payments.paginator.num_pages }}">last</a>
                        {% else %}
                            <div style="color:#606060" class="next-button">next</div>
                            <div style="color:#606060">last</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="requisites-table table" id="requisites-table">
        <p class="table-label">REQUISITES</p>

        <table>
            <tr class="table-head">
                <th>Payment type</th>
                <th>Source type</th>
                <th>Full name</th>
                <th>Phone</th>
                <th>Limit</th>
            </tr>
            <tbody id="requisites-tbody">
                {% for requisite in requisites %}
                    <tr>
                        <td>{{ requisite.payment_type }}</td>
                        <td>{{ requisite.source_type }}</td>
                        <td>{{ requisite.full_name }}</td>
                        <td>{{ requisite.phone }}</td>
                        <td>{{ requisite.limit }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                <div class="pages-buttons">
                    {% if requisites.has_previous %}
                        <a href="?requisites_page=1">first</a>
                        <a href="?requisites_page={{ requisites.previous_page_number }}">previous</a>
                    {% else %}
                        <div style="color:#606060">first</div>
                        <div style="color:#606060">previous</div>
                    {% endif %}
                </div>

                <div class="current">
                    Page {{ requisites.number }} of {{ requisites.paginator.num_pages }}.
                </div>

                <div class="pages-buttons">
                    {% if requisites.has_next %}
                        <a href="?requisites_page={{ requisites.next_page_number }}" class="next-button">next</a>
                        <a href="?requisites_page={{ requisites.paginator.num_pages }}">last</a>
                    {% else %}
                        <div style="color:#606060" class="next-button">next</div>
                        <div style="color:#606060">last</div>
                    {% endif %}
                </div>
            </span>
        </div>
    </div>
</div>

{% endblock %}